<div class="product-detail tw-p-10">
  <div class="product-detail-body">
    <div class="product-detail-body_leftBlock tw-pr-5">
      <div class="product-detail-body_leftBlock-image">
        <div class="product-detail-body_leftBlock-image-preview tw-w-full">
          <img
            src="../../../../assets/Berita-terbaru-thumail-desktop.png"
            alt=""
          />
        </div>
        <div class="product-detail-body_leftBlock-image-list tw-my-4">
          <div class="product-detail-body_leftBlock-image-list-item">
            <img
              src="../../../../assets/Berita-terbaru-thumail-desktop.png"
              alt=""
            />
          </div>
          <div class="product-detail-body_leftBlock-image-list-item">
            <img
              src="../../../../assets/Berita-terbaru-thumail-desktop.png"
              alt=""
            />
          </div>
          <div class="product-detail-body_leftBlock-image-list-item">
            <img
              src="../../../../assets/Berita-terbaru-thumail-desktop.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="product-detail-body_leftBlock-comments tw-mt-4">
        <form action="" class="tw-flex tw-flex-col">
          <textarea name="" id="" cols="30" rows="5"></textarea>
          <button
            type="submit"
            mat-flat-button
            color="primary"
            class="tw-text-sm tw-block tw-font-semibold"
            [ngStyle]="{'border-radius':'0'}"
          >
            Add comment
          </button>
        </form>
        <div class="tw-mt-5">
          <h4>All Comments</h4>
          <table>
            <thead>
              <th>User</th>
              <th>Comment</th>
            </thead>
            <tbody>
              <td>Heri Gantengs</td>
              <td>AHHHHH JELEK SEKALIIII</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="product-detail-body_rightBlock tw-pl-5">
      <div class="product-detail-body_rightBlock-title tw-mb-4">
        <h2 class="tw-font-bold tw-text-gray-700">
          Burung Dalam Sangkar Portable Digital Solar System Uap
        </h2>
      </div>
      <div class="product-detail-body_rightBlock-price tw-my-2">
        <em class="tw-block tw-text-xl tw-font-semibold tw-text-gray-700"
          >IDR 2.000.000</em
        >
      </div>
      <div
        class="
          product-detail-body_rightBlock-options
          tw-flex tw-flex-row tw-my-2
        "
      >
        <button
          mat-flat-button
          color="primary"
          class="tw-text-sm tw-block tw-font-semibold"
        >
          Add to cart
        </button>
        <button
          mat-flat-button
          color="primary"
          class="tw-text-sm tw-block tw-font-semibold"
        >
          Buy
        </button>
      </div>
      <div class="product-detail-body_rightBlock-description tw-my-2">
        <h3 class="tw-text-xl tw-font-bold">Description</h3>
        <p>
          Accusantium corrupti aut atque qui possimus quia. Ad quia rerum illo.
          In qui et ut fugiat commodi provident officia officiis ut. Nulla quo
          et sit amet voluptatem dignissimos eveniet qui hic. Excepturi quaerat
          illo magni est. Occaecati nisi deserunt a ex ut. Facilis voluptates
          fugiat maiores nesciunt vel nobis. Aliquid dolorem vel voluptatem
          mollitia sequi quam. Nobis dolorem non voluptatem aut consectetur eum
          ratione sint. Vero deleniti nisi tenetur qui tenetur qui. Et
          praesentium sapiente impedit mollitia. Rem et ex quia. Esse aspernatur
          dignissimos incidunt id velit voluptas est asperiores. Voluptates
          laboriosam ut et. Accusantium corrupti aut atque qui possimus quia. Ad
          quia rerum illo. In qui et ut fugiat commodi provident officia
          officiis ut. Nulla quo et sit amet voluptatem dignissimos eveniet qui
          hic. Excepturi quaerat illo magni est. Occaecati nisi deserunt a ex
          ut. Facilis voluptates fugiat maiores nesciunt vel nobis. Aliquid
          dolorem vel voluptatem mollitia sequi quam. Nobis dolorem non
          voluptatem aut consectetur eum ratione sint. Vero deleniti nisi
          tenetur qui tenetur qui. Et praesentium sapiente impedit mollitia. Rem
          et ex quia. Esse aspernatur dignissimos incidunt id velit voluptas est
          asperiores. Voluptates laboriosam ut et. Accusantium corrupti aut
          atque qui possimus quia. Ad quia rerum illo. In qui et ut fugiat
          commodi provident officia officiis ut. Nulla quo et sit amet
          voluptatem dignissimos eveniet qui hic. Excepturi quaerat illo magni
          est. Occaecati nisi deserunt a ex ut. Facilis voluptates fugiat
          maiores nesciunt vel nobis. Aliquid dolorem vel voluptatem mollitia
          sequi quam. Nobis dolorem non voluptatem aut consectetur eum ratione
          sint. Vero deleniti nisi tenetur qui tenetur qui. Et praesentium
          sapiente impedit mollitia. Rem et ex quia. Esse aspernatur dignissimos
          incidunt id velit voluptas est asperiores. Voluptates laboriosam ut
          et.
        </p>
      </div>
    </div>
  </div>
</div>
