.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  &-main {
    // width: 75%;
  }
  &-side {
    position: sticky;
    top: 0px;
    height: calc(90 * 1vh);
    width: 25%;
    &-cart {
      height: 70%;
      &-heading {
        text-align: center;
    }
    }
    &-progress {
      margin-top: 10px;
      &-heading {
          text-align: center;
      }
    }
  }
}
