.topbar {
  position: fixed;
  width: 100%;
  margin-bottom: 50px;
  z-index: 3;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-main {
    padding-top: 80px;
    // width: 70%;
    &-list {
    }
  }
  &-side {
    position: sticky;
    top: 55px;
    height: calc(90 * 1vh);
    margin-left: 20px;
    // width: 500px;
    &-cart {
      height: 70%;
      &-heading {
        text-align: center;
    }
      &-list {
      }
    }
    &-progress {
      margin-top: 10px;
      &-heading {
          text-align: center;
      }
    }
  }
}
