<app-topbar class="topbar"></app-topbar>
<div class="home tw-w-full">
  <div class="home-main tw-p-5">
    <app-product-list class="home-main-list"></app-product-list>
  </div>
  <aside class="home-side">
    <div class="home-side-cart">
      <app-cart class="home-side-cart-list"></app-cart>
    </div>
    <div class="home-side-progress">
      <em
        class="
          home-side-progress-heading
          tw-block tw-text-xl tw-font-semibold tw-text-gray-700
        "
        >Progress</em
      >
    </div>
  </aside>
</div>
