<div class="product-list">
  <div class="product-list-body">
    <!-- //ngFor here -->
    <div class="product-list-body_item">
      <img
        class="
          product-list-body_item-image
          tw-w-64 tw-object-cover tw-rounded-t-md
        "
        src="https://images.unsplash.com/photo-1509223197845-458d87318791"
        alt=""
      />
      <div class="product-list-body_item-chunk tw-my-2 tw-mx-3">
        <div
          class="
            product-list-body_item-chunk-title
            tw-font-bold tw-text-gray-700
          "
        >
          Zebra succulent Panjaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaangggg
        </div>
        <em
          class="product-list-body_item-chunk-body tw-text-sm tw-text-gray-700"
        >
          Two sizes
        </em>
        <div
          class="
            product-list-body_item-chunk-footer
            tw-mt-4 tw-flex tw-flex-row tw-justify-between
          "
        >
          <p class="tw-block tw-text-xl tw-font-semibold tw-text-gray-700">
            $12.99
          </p>
          <button
            mat-flat-button
            color="primary"
            class="tw-text-sm tw-block tw-font-semibold"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <div class="product-list-body_item">
      <img
        class="
          product-list-body_item-image
          tw-w-64 tw-object-cover tw-rounded-t-md
        "
        src="https://images.unsplash.com/photo-1509223197845-458d87318791"
        alt=""
      />
      <div class="product-list-body_item-chunk tw-my-2 tw-mx-3">
        <div
          class="
            product-list-body_item-chunk-title
            tw-font-bold tw-text-gray-700
          "
        >
          Zebra succulent Panjaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaangggg
        </div>
        <em
          class="product-list-body_item-chunk-body tw-text-sm tw-text-gray-700"
        >
          Two sizes
        </em>
        <div
          class="
            product-list-body_item-chunk-footer
            tw-mt-4 tw-flex tw-flex-row tw-justify-between
          "
        >
          <p class="tw-block tw-text-xl tw-font-semibold tw-text-gray-700">
            $12.99
          </p>
          <button
            mat-flat-button
            color="primary"
            class="tw-text-sm tw-block tw-font-semibold"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <div class="product-list-body_item">
      <img
        class="
          product-list-body_item-image
          tw-w-64 tw-object-cover tw-rounded-t-md
        "
        src="https://images.unsplash.com/photo-1509223197845-458d87318791"
        alt=""
      />
      <div class="product-list-body_item-chunk tw-my-2 tw-mx-3">
        <div
          class="
            product-list-body_item-chunk-title
            tw-font-bold tw-text-gray-700
          "
        >
          Zebra succulent Panjaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaangggg
        </div>
        <em
          class="product-list-body_item-chunk-body tw-text-sm tw-text-gray-700"
        >
          Two sizes
        </em>
        <div
          class="
            product-list-body_item-chunk-footer
            tw-mt-4 tw-flex tw-flex-row tw-justify-between
          "
        >
          <p class="tw-block tw-text-xl tw-font-semibold tw-text-gray-700">
            $12.99
          </p>
          <button
            mat-flat-button
            color="primary"
            class="tw-text-sm tw-block tw-font-semibold"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <div class="product-list-body_item">
      <img
        class="
          product-list-body_item-image
          tw-w-64 tw-object-cover tw-rounded-t-md
        "
        src="https://images.unsplash.com/photo-1509223197845-458d87318791"
        alt=""
      />
      <div class="product-list-body_item-chunk tw-my-2 tw-mx-3">
        <div
          class="
            product-list-body_item-chunk-title
            tw-font-bold tw-text-gray-700
          "
        >
          Zebra succulent Panjaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaangggg
        </div>
        <em
          class="product-list-body_item-chunk-body tw-text-sm tw-text-gray-700"
        >
          Two sizes
        </em>
        <div
          class="
            product-list-body_item-chunk-footer
            tw-mt-4 tw-flex tw-flex-row tw-justify-between
          "
        >
          <p class="tw-block tw-text-xl tw-font-semibold tw-text-gray-700">
            $12.99
          </p>
          <button
            mat-flat-button
            color="primary"
            class="tw-text-sm tw-block tw-font-semibold"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <div class="product-list-body_item">
      <img
        class="
          product-list-body_item-image
          tw-w-64 tw-object-cover tw-rounded-t-md
        "
        src="https://images.unsplash.com/photo-1509223197845-458d87318791"
        alt=""
      />
      <div class="product-list-body_item-chunk tw-my-2 tw-mx-3">
        <div
          class="
            product-list-body_item-chunk-title
            tw-font-bold tw-text-gray-700
          "
        >
          Zebra succulent Panjaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaangggg
        </div>
        <em
          class="product-list-body_item-chunk-body tw-text-sm tw-text-gray-700"
        >
          Two sizes
        </em>
        <div
          class="
            product-list-body_item-chunk-footer
            tw-mt-4 tw-flex tw-flex-row tw-justify-between
          "
        >
          <p class="tw-block tw-text-xl tw-font-semibold tw-text-gray-700">
            $12.99
          </p>
          <button
            mat-flat-button
            color="primary"
            class="tw-text-sm tw-block tw-font-semibold"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <div class="product-list-body_item">
      <img
        class="
          product-list-body_item-image
          tw-w-64 tw-object-cover tw-rounded-t-md
        "
        src="https://images.unsplash.com/photo-1509223197845-458d87318791"
        alt=""
      />
      <div class="product-list-body_item-chunk tw-my-2 tw-mx-3">
        <div
          class="
            product-list-body_item-chunk-title
            tw-font-bold tw-text-gray-700
          "
        >
          Zebra succulent Panjaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaangggg
        </div>
        <em
          class="product-list-body_item-chunk-body tw-text-sm tw-text-gray-700"
        >
          Two sizes
        </em>
        <div
          class="
            product-list-body_item-chunk-footer
            tw-mt-4 tw-flex tw-flex-row tw-justify-between
          "
        >
          <p class="tw-block tw-text-xl tw-font-semibold tw-text-gray-700">
            $12.99
          </p>
          <button
            mat-flat-button
            color="primary"
            class="tw-text-sm tw-block tw-font-semibold"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
