<div class="product-list">
  <app-topbar class="product-list-topbar"></app-topbar>
  <div class="product-list-body tw-p-5">
    <!-- //ngFor here -->
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
    <app-product-list-item></app-product-list-item>
  </div>
</div>
