.product-list {
  &-topbar {
    margin-top: 10px;
  }
  &-body {
    // width: 150px;
    // max-height: 300px!important;
    // overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    // padding: calc(10px + 2vw);
    @media screen and(max-width:500px) {
        // padding: 1vw;
    }
  }
}
