<div class="product-list">
  <div class="product-list-body">
    <div class="product-list-body-item tw-shadow-sm tw-rounded-md">
      <!-- //ngFor here -->
      <div
        class="
          product-list-body-item_content
          tw-max-tw-w-sm tw-rounded tw-overflow-hidden
        "
      >
        <img
          class="product-list-body-item_content-image tw-w-full"
          src="../../../../assets/Berita-terbaru-thumail-desktop.png"
          alt="Sunset in the mountains"
        />
        <div class="product-list-body-item_content-chunk tw-px-1 tw-py-1 tw-flex tw-flex-col">
          <div class="product-list-body-item_content-chunk-title tw-font-bold tw-mb-1">The Coldest Sunset Panjaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaangggg</div>
          <div class="product-list-body-item_content-chunk-option tw-pt-1 tw-flex tw-flex-col tw-justify-center tw-w-full">
            <span
              class="
                tw-inline-block
                tw-bg-gray-200
                tw-rounded-full
                tw-px-3
                tw-py-1
                tw-font-semibold
                tw-text-gray-700
                tw-mb-1
              "
              >Notebook</span
            >
            <span
              class="
                tw-inline-block
                tw-bg-gray-200
                tw-rounded-full
                tw-px-3
                tw-py-1
                tw-font-semibold
                tw-text-gray-700
                tw-mb-1
              "
              >IDR 2.000.000</span
            >
            <button mat-flat-button
              class="
                tw-inline-block
                tw-rounded-full
                tw-px-3
                tw-py-1
                tw-font-semibold
                tw-mb-1
              "
              >Add to cart</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
