[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  padding: 2px;
}

.cart-item {
    background-color: white;
    margin: 5px;
    max-width: 200px;
    // box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 5px 0px 5px;
    // height: 180px;
    display: inline-block;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // align-items: center;
    &-title {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      em {
        color: #005fad;
      }
    }
    &-content {
      height: calc(80px + 1vw);
      &-image {
        float: left;
        width: 50%;
        height: 100%;
        border-radius: 10px;
        object-fit:cover;
      }
      &-chunk {
        float: right;
        // height: 100%;
        max-width: 50%;
        padding-left: 5px;
      }
    }
  }