<div class="cart-item">
    <div class="cart-item-title">
      <em class="tw-font-bold tw-text-gray-700"
        >SepatuLa Panjang
        Judulnyaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</em
      >
    </div>
    <div class="cart-item-content">
      <img
        class="cart-item-content-image"
        src="../../../assets/Berita-terbaru-thumail-desktop.png"
      />
      <form #quantity="ngForm" class="cart-item-content-chunk">
        <textarea
          type="textarea"
          placeholder="Add Notes..."
          name="note"
          class="
            tw-w-full tw-text-gray-700 tw-rounded-sm
            tw-focus:outline-none
            tw-text-sm
          "
          rows="2"
          ngModel
        ></textarea>
        <input
          type="number"
          class="
            tw-rounded-sm tw-outline-none
            tw-focus:outline-none
            tw-text-center
            tw-w-full
            tw-bg-gray-300
            tw-font-semibold
            tw-text-sm
            tw-hover:text-black
            tw-focus:text-black
            tw-md:text-basecursor-default
            tw-flex tw-items-center tw-text-gray-700 tw-outline-none
          "
          name="custom-input-number"
          value="0"
        />
        <p class="tw-text-md tw-font-semibold tw-text-gray-700">
          IDR 2.000.000
        </p>
      </form>
    </div>
  </div>