.cart {
  height: 100%;
  width: 100%;
  &-body {
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    overflow: auto;
    &-item {
      margin: 10px;
      width: 360px;
      height: 180px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      &-image {
        // float: left;
        width: 50%;
        // height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
      &-chunk {
        // float: right;
        height: 100%;
        width: 50%;
        padding-left: 10px;
        &-title {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #005fad;
          font-weight: bold;
          white-space: nowrap;
        }
        form {
          height: 100%;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}
