.cart {
  height: 100%;
  &-body {
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    overflow: auto;
    background-color: gray;
    &-heading {
      position: sticky;
      top: 0px;
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      text-align: center;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
      border-radius: 0 0 25px 25px;
    }
    &-list {
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 5px;
    }
  }
}
p {
  margin: 0;
}