<div class="cart">
  <div class="cart-body tw-flex tw-flex-row">
    <div class="cart-body-heading">
      <p class="tw-text-xl tw-font-semibold tw-text-gray-700">Cart</p>
    </div>
    <div class="cart-body-list tw-flex tw-flex-row">
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>

    </div>
  </div>
</div>
