<div class="cart">
  <h3 class="cart-title tw-text-xl tw-font-bold">Cart</h3>
  <section class="cart-item">
    <img
      class="cart-item-image"
      src="../../../assets/Berita-terbaru-thumail-desktop.png"
    />
    <div class="cart-item-chunk">
      <form #quantity="ngForm" class="tw-flex tw-flex-col">
        <em
          class="
            cart-item-chunk-title
            tw-text-xl tw-font-semibold tw-text-gray-700
          "
          >SepatuLa Panjang
          Judulnyaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</em
        >
        <textarea
          type="textarea"
          placeholder="Add Notes..."
          name="note"
          class="
            tw-w-full tw-text-gray-700 tw-border tw-rounded-lg
            tw-focus:outline-none
          "
          rows="2"
          ngModel
        ></textarea>
        <input
          type="number"
          class="
            tw-rounded-lg tw-outline-none
            tw-focus:outline-none
            tw-text-center tw-w-full tw-bg-gray-300 tw-font-semibold tw-text-md
            tw-hover:text-black
            tw-focus:text-black
            tw-md:text-basecursor-default
            tw-flex tw-items-center tw-text-gray-700 tw-outline-none
          "
          name="custom-input-number"
          value="0"
        />
        <em class="tw-text-xl tw-font-semibold tw-text-gray-700"
          >IDR 2.000.000</em
        >
      </form>
    </div>
  </section>
</div>
